{% extends 'heritage/base.html' %}

{% block header %}
<h4> this is main.html </h4>

<section style="margin: 20px;">
  <div style="background-color: #FEF9F3; height: 450px; width: 100%;">
    <p style="padding-top: 120px; padding-left: 120px; font-size: 50px;">윤동열씨</p> 
    <p style="color: grey; padding-left: 120px; font-size: 20px;">지금까지 23개의 문제를 맞추셨어용<br>7개를 더 맞추면 오오혜성이 더 커져용</p>
    <img src="/static/heritage/img/star.png" style="padding-left: 120px;">
    <img src="/static/heritage/img/star.png" style="padding-left: 10px;">
    <img src="/static/heritage/img/star.png" style="padding-left: 10px;">
  </div>

</section>

<section style="margin: 20px;">
  <div style="background-color: #F3FEF3; height: 450px; width: 100%;"></div>
</section>

<section style="margin: 20px;">
  <div style="background-color: #FDFEF3; height: 450px; width: 100%;"></div>

</section>

<section style="margin: 20px;">
  <div style="background-color: #F3FEFC;  height: 450px; width: 100%;"></div>
</section>


{% endblock %}
