{% extends 'heritage/base.html' %}
{% load static %}

{% block header %}

<head>
  <script>
    function address(e) {
      var seoul = ["강남구", "강동구", "강서구","관악구","광진구", "구로구", "금천구", "노원구", "도봉구", "동대문구", "동작구", "마포구", "서대문구", "서초구", "성동구", "성북구", "송파구", "양천구", "영등포구", "용산구", "은평구", "종로구", "중구", "중량구"];
      var busan = [ "강서구", "금정구", "기장군", "남구", "동구", "동래구", "부산진구", "북구", "사상구", "사하구", "서구", "수영구", "연제구", "영도구", "중구", "해운대구"];
      var daegu = ["남구","달서구","달성군","동구","북구","서구","수성구","중구"];
      var incheon = ["강화군", "계양구", "남동구", "동구", "미추홀구", "부평구", "서구", "연수구", "웅진군", "중구"];
      var gwangju = [ "광산구", "남구", "동구", "북구", "서구"];
      var daejeon = [ "대덕구", "동구", "서구", "유성구", "중구"];
      var ulsan = ["남구", "동구", "북구", "울주군", "중구"];
      var sejong = ["세종시"];
      var gyeonggi = ["가평군", "고양시", "과천시", "광명시", "광주시", "광주시", "구리시", "군포시", "김포시", "남양주시", "동두천시", "부천시", "성남시", "수원시", "시흥시", "안산시", "안양시", "양평군", "여주시", "연천군", "오산시", "용인시", "의왕시", "의정부시", "이천시", "파주시", "평택시", "포천시", "하남시", "화성시"];
      var gangwon = ["강릉시", "고성군","동해시","삼척시","속초시","양구군","양양군","영월군","원주시","인제군","정선군","철원군","춘천시","태백시","평창군","홍천군","화천군","횡성군"];
      var chungbuk = ["괴산군", "단양군", "보은군", "영동군", "옥천군", "음성군", "제천시", "증평군", "진천군", "청주시", "충주시"];
      var chungnam = [ "계룡시", "공주시", "금산군", "논산시", "당진시", "보령시", "부여군", "서산시", "서천군", "아산시", "예산군", "천안시", "청양군", "태안군", "홍성군"];
      var jeonbuk = [ "고창군", "군산시", "김제시", "남원시", "무주군", "부안군", "순창군", "완주군", "익산시", "임실군", "장수군", "전주시", "정읍시", "진안군"];
      var jeonnam = [ "강진군", "고흥군", "곡성군", "광양시", "구례군", "나주시", "담양군", "목포시", "무안군", "보성군", "순천시", "신안군", "여수시", "영광군", "영암군", "완도군", "장성군", "장흥군", "진도군", "함평군", "해남군", "화순군"];
      var gyeongbuk = ["경산시", "경주시","고령군", "구미시","군위군", "김천시","문경시", "봉화군","상주시", "성주군","안동시", "영덕군","영양군", "영주시","영천시", "예천군","울릉군", "울진군", "의성군", "청도군","청송군", "칠곡군","포항시"];
      var gyeongnam = ["거제시", "거창군","고성군", "김해시","김해시", "남해군","밀양시", "사천시","산청군", "양산시","의령군", "진주시","창녕군", "창원시","통영시", "하동군","함안군", "함양군","합천군"];
      var jeju = ["서귀포시", "제주시"];
      var target = document.getElementById("addressact");

      if (e.value == "s") var d = seoul;
      else if (e.value == "b") var d = busan;
      else if (e.value == "d") var d = daegu;
      else if (e.value == "i") var d = incheon;
      else if (e.value == "ga") var d = gwangju;
      else if (e.value == "da") var d = daejeon;
      else if (e.value == "u") var d = ulsan;
      else if (e.value == "se") var d = sejong;
      else if (e.value == "g") var d = gyeonggi;
      else if (e.value == "gan") var d = gangwon;
      else if (e.value == "cb") var d = chungbuk;
      else if (e.value == "cn") var d = chungnam;
      else if (e.value == "jb") var d = jeonbuk;
      else if (e.value == "jn") var d = jeonnam;
      else if (e.value == "gb") var d = gyeongbuk;
      else if (e.value == "gn") var d = gyeongnam;
      else if (e.value == "j") var d = jeju;

      target.options.length = 0;

      for (x in d) {
        var opt = document.createElement("option");
        opt.value = d[x];
        opt.innerHTML = d[x];
        target.appendChild(opt);
      }
    }
  </script>

  <link rel="stylesheet" type="text/css" href="{% static 'map.css' %}">
</head>
<section style="margin: 20px;">
  <div class="item" style="background-color: #FEF9F3; height: 635px; width: 80%; margin: auto;">
    <!-- <div style="float:left;">
      <img src="/static/heritage/img/map.png" style="width: 325px; margin-top: 15px; margin-left: 75px; width: 300px;">
    </div> -->
    <div id="choice" style="float: left;">
      <br><br><br>
      <h2 style="text-align: center;">오늘의 추천 지역</h2>
      <br>
      <div id="slide">
        <input type="radio" name="pos" id="pos1" checked>
        <input type="radio" name="pos" id="pos2">
        <input type="radio" name="pos" id="pos3">
        <input type="radio" name="pos" id="pos4">
        <ul class="ul_img">
          <li class="li_img"><img id="c_pic" src="/static/heritage/img/soo.png"></li>
          <li class="li_img"><img id="c_pic"
              src="https://lh5.googleusercontent.com/p/AF1QipP9DO9GkI4xDzPtOo-HiKpsL8Gmv_prWJ3PZIvP=w425-h240-k-no">
          </li>
          <li class="li_img"><img id="c_pic"
              src="https://lh5.googleusercontent.com/p/AF1QipOm0QZvKmbvcnumkCR1xsxoMkl1wYu-EraJJxmY=w408-h306-k-no">
          </li>
          <li class="li_img"><img id="c_pic"
              src="https://post-phinf.pstatic.net/MjAxODEwMThfMjcx/MDAxNTM5ODUwMzY3NjE4.jOJFWgpu7LFV2xOW4hfNDDBQ4wZId4la1lJ7c7G2-9kg.B_9wjhBrckAoWELhUTv3R_yIz3-KC2MgNua2trgnSbEg.JPEG/%EA%B2%BD%EC%A3%BC%EC%B2%A8%EC%84%B1%EB%8C%80_%281%29.JPG?type=w1200">
          </li>
        </ul>
        <p class="pos">
          <label for="pos1"></label>
          <label for="pos2"></label>
          <label for="pos3"></label>
          <label for="pos4"></label>
        </p>
      </div>
      <div id="txt">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-down-fill" fill="currentColor"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
        </svg>수원화성
        <br>
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-down-fill" fill="currentColor"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
        </svg>시흥 능곡 선사유적지
        <br>
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-down-fill" fill="currentColor"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
        </svg>강화 연무당 옛터
        <br>
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-down-fill" fill="currentColor"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
        </svg>경주 첨성대
        <br>
      </div>
    </div>
    <div style="float: left; width: 30%; margin-top: 7%;">
      <br>
      <div>
        <h2>
          <label for="addresscity">&nbsp;도/시 선택</label>
          <select class="form-control" id="addresscity" name="addresscity" style="font-size: 25px;"
            onchange="address(this)">
            <option>주소를 선택하세요</option>
            <option value="s">서울특별시</option>
            <option value="b">부산광역시</option>
            <option value="d">대구광역시</option>
            <option value="i">인천광역시</option>
            <option value="ga">광주광역시</option>
            <option value="da">대전광역시</option>
            <option value="u">울산광역시</option>
            <option value="se">세종특별자치시</option>
            <option value="g">경기도</option>
            <option value="gan">강원도</option>
            <option value="cb">충청북도</option>
            <option value="cn">충청남도</option>
            <option value="jb">전라북도</option>
            <option value="jn">전라남도</option>
            <option value="gb">경상북도</option>
            <option value="gn">경상남도</option>
            <option value="j">제주특별자치도</option>

          </select>
        </h2>
      </div>
      <br>
      <div>
        <h2>
          <label for="addressact">&nbsp;지역</label>
          <form action='/map_result' method='get'>
            <select class="form-control" id="addressact" name="location" style="font-size: 25px;">
              <option>선택해주세요.</option>
            </select>
            <button type="submit" style=" padding: 15px 25px; margin-top: 50px; margin-left: 30%; font-size: 25px; cursor: pointer; text-align: center; text-decoration: none;
          outline: none;
          color: #fff;
          background-color: #4D9169;
          border: none;
          border-radius: 15px;
          box-shadow: 0 9px #999;"> 이동하기 </button>
          </form>
        </h2>
      </div>
    </div>
    <!-- <div style="width: 30%; float:left; margin-left: 3%; margin-top: 10%;">
      <img src="/static/user/img/sing.png" width="400px">
    </div> -->
  </div>
</section>

{% endblock %}
