<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Dino_history</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'heritage/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{% static 'heritage/css/all.min.css' %}" rel="stylesheet">
  <link href="{% static 'heritage/css/simple-line-icons.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="{% static 'heritage/css/text.css' %}">
  <!-- Custom styles for this template -->
  <link href="{% static 'heritage/css/landing-page.min.css' %}" rel="stylesheet">
  <link href="{% static 'heritage/css/map.css' %}" rel="stylesheet">
</head>

<body>
<!-- nav -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a href="{% url 'main' %}">
  <img src="/static/heritage/img/logo.png" alt="logo" width="75px" height="65px" style="padding-left: 20px">
  </a>
  <a class="navbar-brand" href="{% url 'main' %}" style="color: #4D9169; padding-left: 5px; font-size: 30px; padding-top: 15px;">공아역</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" style="padding-left: 3%; margin-top: 20px; font-size: 20px;">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'main' %}">홈 </a>
      </li>

      {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'mypage' name=user.username %}">내 정보</a>
        </li>
      {% endif %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'map' %}">지도</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'ranking' %}">순위</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'problem' %}">문제</a>
      </li>

      {% if user.is_authenticated %}
        <li class="nav-item" style="padding-left: 700px;">
          <a class="nav-link" href="{% url 'logout' %}">로그아웃</a>
        </li>
      {% else %}
        <li class="nav-item" style="padding-left: 700px;">
          <a class="nav-link" href="{% url 'login' %}">로그인</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'signup' %}">회원가입</a>
        </li>
      {% endif %}

    </ul>

    <!-- 검색하여 result view로  -->
    <form action="{% url 'result' %}" method="get" class="form-inline my-2 my-lg-0" >
      <input class="form-control mr-sm-2" name="name" type="search" placeholder="뭐든지 물어봐!" aria-label="Search" size="46" style="position: absolute; left: 38%;">
      <input type="image" src="/static/heritage/img/button2.jpg" alt="search" width="35px" style="position: absolute; left: 66.8%; bottom: 14px; height: 35px;"/>
    </form>

  </div>
</nav>
{% block header %}
{% endblock %}


<footer class="footer bg-light" style="margin-top:200px; margin-bottom: 20px; margin-right: 20px;">
  <p class="text-muted small mb-4 mb-lg-0" style="margin-top: 10px; text-align: right;">icon from <a href="https://www.flaticon.com/kr/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/kr/" title="Flaticon">www.flaticon.com</a></p>
  <p class="text-muted small mb-4 mb-lg-0" style="text-align: right"> Copyright &copy; 2020 gong-ah-york</p>

</footer>

<script src="{% static 'heritage/css/jquery.min.js' %}"></script>
<script src="{% static 'heritage/css/bootstrap.bundle.min.js' %}"></script>

</body>
</html>
