{% extends 'user/base.html' %}

{% block header %}


<section style="margin: 20px;">
    <div style="background-color: #FEF9F3; height: 635px; width: 100%;">
      <img src="/static/heritage/img/dino_ch.png" width="470px" height="470px" style="float: right; margin-top: 100px; margin-right: 8%;">
      <p style="padding-top: 55px; padding-left: 5%; font-size: 50px; display: inline-block;">윤동열짱</p> 
      <p style="color: #818181; font-size: 20px; padding-left: 10px; display:inline-block;">LV.2</p>

      <div id="level" style="background-color: #FFFFFF; height: 50px; width: 50%; margin-left: 5%; margin-bottom: 20px">
        <p style=" font-size:25px; color: #85B598;">경험치!!</p>
      </div>

      <p style=" font-size:25px; padding-left: 5%; padding-top: 15px;">지금까지 푼 문제</p>
      <div  id="quiz" style="background-color: #FFFFFF; height: 150px; width: 50%; margin-left: 5%; margin-bottom: 20px " >
        <p style="color: #818181; font-size: 20px;">1번&nbsp;2번&nbsp;3번</p>
      </div>

      <p style=" font-size:25px; padding-left: 5%; padding-top: 15px;">실패한 문제</p>
      <div id="failed-quiz" style="background-color: #FFFFFF; height: 45px; width: 50%; margin-left: 5%;">
        <p style=" font-size:20px; color:#818181;"> 4번&nbsp;5번&nbsp;6번</p>
      </div>

    </div>
  </section>

<section style="margin: 20px;">
  <div style="background-color: #F3FEF3; height: 635px; width: 100%;">
    <style id="applicationStylesheet" type="text/css">
    
    #_10 {
        fill: rgba(243,254,243,1);
        }
	  ._10 {
		    position: absolute;
	    	overflow: visible;
        width: 100%;
        height: 635px;
        left: 46px;
        top: 993px;
        }
    #_42 {
      fill: rgba(255,255,255,1);
      }
    ._42 {
      position: absolute;
      overflow: visible;
      width: 100%;
      height: 635px;
      left: 570px;
      top: 1343px;
      }	
    #__cx {
      left: 125px;
      top: 1034px;
      position: absolute;
      overflow: visible;
      width: 100%;
      white-space: nowrap;
      text-align: left;
      font-family: TmonMonsori;
      font-style: normal;
      font-weight: normal;
      font-size: 50px;
      color: rgba(0,0,0,1);
    
      }		
    
      #___cy {
        left: 125px;
        top: 471px;
        position: absolute;
        overflow: visible;
        width: 100%;
        white-space: nowrap;
        text-align: left;
        font-family: TmonMonsori;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        color: rgba(0,0,0,1);
      }
      #__cz {
        left: 131px;
        top: 1171px;
        position: absolute;
        overflow: visible;
        width:  100%;
        white-space: nowrap;
        text-align: left;
        font-family: TmonMonsori;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        color: rgba(129,129,129,1);
      }
      #_31 {
        fill: rgba(129,129,129,1);
      }
      ._31 {
        position: absolute;
        overflow: visible;
        width:  100%px;
        height: 4px;
        left: 125px;
        top: 1157px;
      }
      #_32 {
        fill: rgba(129,129,129,1);
      }
      ._32 {
        position: absolute;
        overflow: visible;
        width: 378px;
        height: 4px;
        left: 125px;
        top: 1221px;
      }
      #_33 {
        fill: rgba(129,129,129,1);
      }
      ._33 {
        position: absolute;
        overflow: visible;
        width: 378px;
        height: 4px;
        left: 125px;
        top: 1285px;
      }
      #__c {
        left: 131px;
        top: 1235px;
        position: absolute;
        overflow: visible;
        width: 156px;
        white-space: nowrap;
        text-align: left;
        font-family: TmonMonsori;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        color: rgba(129,129,129,1);
      }
      #_34 {
        fill: rgba(129,129,129,1);
      }
      ._34 {
        position: absolute;
        overflow: visible;
        width: 378px;
        height: 4px;
        left: 125px;
        top: 1349px;
      }
      #_35 {
        fill: rgba(129,129,129,1);
      }
      ._35 {
        position: absolute;
        overflow: visible;
        width: 378px;
        height: 4px;
        left: 125px;
        top: 1413px;
      }
      #_36 {
        fill: rgba(129,129,129,1);
      }
      ._36 {
        position: absolute;
        overflow: visible;
        width: 378px;
        height: 4px;
        left: 125px;
        top: 1477px;
      }
      #_37 {
        fill: rgba(129,129,129,1);
      }
      ._37 {
        position: absolute;
        overflow: visible;
        width: 378px;
        height: 4px;
        left: 125px;
        top: 1541px;
      }
      #_38 {
        fill: rgba(129,129,129,1);
      }
      ._38 {
        position: absolute;
        overflow: visible;
        width: 378px;
        height: 4px;
        left: 125px;
        top: 1605px;
      }
      #_39 {
        fill: rgba(129,129,129,1);
      }
      ._39 {
        position: absolute;
        overflow: visible;
        width: 378px;
        height: 4px;
        left: 125px;
        top: 1669px;
      }	
    
        #__da {
        left: 131px;
        top: 1299px;
        position: absolute;
        overflow: visible;
        width: 192px;
        white-space: nowrap;
        text-align: left;
        font-family: TmonMonsori;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        color: rgba(129,129,129,1);
      }
      #__db {
        left: 131px;
        top: 1363px;
        position: absolute;
        overflow: visible;
        width: 229px;
        white-space: nowrap;
        text-align: left;
        font-family: TmonMonsori;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        color: rgba(129,129,129,1);
      }
      #__dc {
        left: 131px;
        top: 1427px;
        position: absolute;
        overflow: visible;
        width: 229px;
        white-space: nowrap;
        text-align: left;
        font-family: TmonMonsori;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        color: rgba(129,129,129,1);
      }
      #__dd {
        left: 131px;
        top: 1491px;
        position: absolute;
        overflow: visible;
        width: 229px;
        white-space: nowrap;
        text-align: left;
        font-family: TmonMonsori;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        color: rgba(129,129,129,1);
      }
      #__de {
        left: 131px;
        top: 1555px;
        position: absolute;
        overflow: visible;
        width: 156px;
        white-space: nowrap;
        text-align: left;
        font-family: TmonMonsori;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        color: rgba(129,129,129,1);
      }
      #__df {
        left: 131px;
        top: 1619px;
        position: absolute;
        overflow: visible;
        width: 156px;
        white-space: nowrap;
        text-align: left;
        font-family: TmonMonsori;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        color: rgba(129,129,129,1);
      }
        #ID234 {
        left: 416px;
        top: 1171px;
        position: absolute;
        overflow: visible;
        width: 73px;
        white-space: nowrap;
        text-align: left;
        font-family: TmonMonsori;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        color: rgba(129,129,129,1);
      }
      #ID1_dh {
        left: 416px;
        top: 1235px;
        position: absolute;
        overflow: visible;
        width: 25px;
        white-space: nowrap;
        text-align: left;
        font-family: TmonMonsori;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        color: rgba(129,129,129,1);
      }
      #ID11 {
        left: 416px;
        top: 1299px;
        position: absolute;
        overflow: visible;
        width: 49px;
        white-space: nowrap;
        text-align: left;
        font-family: TmonMonsori;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        color: rgba(129,129,129,1);
      }
      #ID95 {
        left: 416px;
        top: 1363px;
        position: absolute;
        overflow: visible;
        width: 49px;
        white-space: nowrap;
        text-align: left;
        font-family: TmonMonsori;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        color: rgba(129,129,129,1);
      }
      #ID52 {
        left: 416px;
        top: 1427px;
        position: absolute;
        overflow: visible;
        width: 49px;
        white-space: nowrap;
        text-align: left;
        font-family: TmonMonsori;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        color: rgba(129,129,129,1);
      }
      #ID102 {
        left: 416px;
        top: 1491px;
        position: absolute;
        overflow: visible;
        width: 73px;
        white-space: nowrap;
        text-align: left;
        font-family: TmonMonsori;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        color: rgba(129,129,129,1);
      }
        #ID4_dm {
        left: 416px;
        top: 1555px;
        position: absolute;
        overflow: visible;
        width: 25px;
        white-space: nowrap;
        text-align: left;
        font-family: TmonMonsori;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        color: rgba(129,129,129,1);
      }
      #ID1_dn {
        left: 416px;
        top: 1619px;
        position: absolute;
        overflow: visible;
        width: 25px;
        white-space: nowrap;
        text-align: left;
        font-family: TmonMonsori;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        color: rgba(129,129,129,1);
      }
      #_40 {
        fill: rgba(255,255,255,1);
      }
      ._40 {
        position: absolute;
        overflow: visible;
        width: 1270px;
        height: 78px;
        left: 570px;
        top: 1157px;
      }
      #___dp {
        left: 600px;
        top: 1171px;
        position: absolute;
        overflow: visible;
        width: 221px;
        white-space: nowrap;
        text-align: left;
        font-family: TmonMonsori;
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        color: rgba(129,129,129,1);
      }
      #_41 {
        fill: rgba(255,255,255,1);
      }
      ._41 {
        position: absolute;
        overflow: visible;
        width: 1270px;
        height: 78px;
        left: 570px;
        top: 1250px;
      }
      #____ {
        left: 600px;
        top: 1264px;
        position: absolute;
        overflow: visible;
        width: 423px;
        white-space: nowrap;
        text-align: left;
        font-family: TmonMonsori;
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        color: rgba(129,129,129,1);
      }
      #_43 {
        fill: rgba(255,255,255,1);
      }
      ._43 {
        position: absolute;
        overflow: visible;
        width: 1270px;
        height: 78px;
        left: 570px;
        top: 1436px;
      }
      #_44 {
        fill: rgba(255,255,255,1);
      }
      ._44 {
        position: absolute;
        overflow: visible;
        width: 1270px;
        height: 78px;
        left: 570px;
        top: 1529px;
      }
      #_45 {
        fill: rgba(255,255,255,1);
      }
      ._45 {
        position: absolute;
        overflow: visible;
        width: px;
        height: 78px;
        left: 570px;
        top: 1622px;
      }
        #__haesungoh414gmailcom {
        left: 600px;
        top: 1359px;
        position: absolute;
        overflow: visible;
        width: 684px;
        white-space: nowrap;
        text-align: left;
        font-family: TmonMonsori;
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        color: rgba(129,129,129,1);
      }
      #___ {
        left: 600px;
        top: 1452px;
        position: absolute;
        overflow: visible;
        width: 340px;
        white-space: nowrap;
        text-align: left;
        font-family: TmonMonsori;
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        color: rgba(129,129,129,1);
      }
      #__dx {
        left: 600px;
        top: 1545px;
        position: absolute;
        overflow: visible;
        width: 120px;
        white-space: nowrap;
        text-align: left;
        font-family: TmonMonsori;
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        color: rgba(129,129,129,1);
      }
      #____dy {
        left: 600px;
        top: 1638px;
        position: absolute;
        overflow: visible;
        width: 431px;
        white-space: nowrap;
        text-align: left;
        font-family: TmonMonsori;
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        color: rgba(129,129,129,1);
      }
      </style>
    
    <div id="Mypage">
      <svg class="_10">
        <rect id="_10" rx="43" ry="43" x="0" y="0" width="100%" height="731">
        </rect>
      </svg>
      <svg class="_42">
        <rect id="_42" rx="25" ry="25" x="0" y="0" width="100%" height="78">
        </rect>
      </svg>
        <div id="__cx">
        <span>내 정보</span>
      </div>
      <div id="__cz">
        <span>전체 랭킹</span>
      </div>
      <svg class="_31">
        <rect id="_31" rx="2" ry="2" x="0" y="0" width="100%" height="4">
        </rect>
      </svg>
      <svg class="_32">
        <rect id="_32" rx="2" ry="2" x="0" y="0" width="378" height="4">
        </rect>
      </svg>
      <svg class="_33">
        <rect id="_33" rx="2" ry="2" x="0" y="0" width="378" height="4">
        </rect>
      </svg>
      <div id="__c">
        <span>지역 랭킹</span>
      </div>
      <svg class="_34">
        <rect id="_34" rx="2" ry="2" x="0" y="0" width="378" height="4">
        </rect>
      </svg>
      <svg class="_35">
        <rect id="_35" rx="2" ry="2" x="0" y="0" width="378" height="4">
        </rect>
      </svg>
      <svg class="_36">
        <rect id="_36" rx="2" ry="2" x="0" y="0" width="378" height="4">
        </rect>
      </svg>
      <svg class="_37">
        <rect id="_37" rx="2" ry="2" x="0" y="0" width="378" height="4">
        </rect>
      </svg>
      <svg class="_38">
        <rect id="_38" rx="2" ry="2" x="0" y="0" width="378" height="4">
        </rect>
      </svg>
      <svg class="_39">
        <rect id="_39" rx="2" ry="2" x="0" y="0" width="378" height="4">
        </rect>
      </svg>
      <div id="__da">
        <span>근현대 랭킹</span>
      </div>
      <div id="__db">
        <span>조선시대 랭킹</span>
      </div>
      <div id="__dc">
        <span>삼국시대 랭킹</span>
      </div>
      <div id="__dd">
        <span>선사시대 랭킹</span>
      </div>
      <div id="__de">
        <span>맞은 문제</span>
      </div>
      <div id="__df">
        <span>틀린 문제</span>
      </div>
      <div id="ID234">
        <span>234</span>
      </div>
      <div id="ID1_dh">
        <span>1</span>
      </div>
      <div id="ID11">
        <span>11</span>
      </div>
      <div id="ID95">
        <span>95</span>
      </div>
      <div id="ID52">
        <span>52</span>
      </div>
      <div id="ID102">
        <span>102</span>
      </div>
      <div id="ID4_dm">
        <span>4</span>
      </div>
      <div id="ID1_dn">
        <span>1</span>
      </div>
      <svg class="_40">
        <rect id="_40" rx="25" ry="25" x="0" y="0" width="1270" height="78">
        </rect>
      </svg>
      <div id="___dp">
        <span>이름 : 오혜성</span>
      </div>
      <svg class="_41">
        <rect id="_41" rx="25" ry="25" x="0" y="0" width="1270" height="78">
        </rect>
      </svg>
      <div id="____">
        <span>거주 지역 : 경기도 수원시</span>
      </div>
      <svg class="_43">
        <rect id="_43" rx="25" ry="25" x="0" y="0" width="1270" height="78">
        </rect>
      </svg>
      <svg class="_44">
        <rect id="_44" rx="25" ry="25" x="0" y="0" width="1270" height="78">
        </rect>
      </svg>
      <svg class="_45">
        <rect id="_45" rx="25" ry="25" x="0" y="0" width="1270" height="78">
        </rect>
      </svg>
      <div id="__haesungoh414gmailcom">
        <span>이메일 : haesungoh414@gmail.com</span>
      </div>
      <div id="___">
        <span>공룡 이름 : 오오혜성</span>
      </div>
      <div id="__dx">
        <span>더 이상</span>
      </div>
      <div id="____dy">
        <span>뭘 넣어야하는 지 모르겠다</span>
      </div>
      </div>
  </div>
  </section>
{% endblock %}
