{% extends 'user/base.html' %}
{% load static %}

=======
{% block header %}
<br>
<div class="container">
    <div class="item" id="items">1001</div><hr class="hr0">
    <div class="item" id="quiz">한글을 만든 사람은?</div><hr class="hr1">
    <div class="item" id="items">조선</div><hr class="hr1">
    <div class="item" id="items">1</div><hr class="hr1">
    <div class="item" id="items">3</div><hr class="hr1">
    <div class="item" id="items">33%</div>
    <div id="answers">
      <br><br>
        <span><form name="input" method="post" action="">
            <input type="text" name="answer">
            <button type="submit" id="btn-primary"><b>제출하기</b></button>
          </form>
        </span>
        </div>
      </div>
  <br>
  <div class="container">
    <div class="item" id="items">1002</div><hr class="hr0">
    <div class="item" id="quiz">문제문제</div><hr class="hr1">
    <div class="item" id="items">근현대</div><hr class="hr1">
    <div class="item" id="items">3</div><hr class="hr1">
    <div class="item" id="items">3</div><hr class="hr1">
    <div class="item" id="items">100%</div>
    <div id="answers">
      <br><br>
        <span><form name="input" method="post" action="">
            <input type="text" name="answer">
            <button type="submit" id="btn-primary"><b>제출하기</b></button>
          </form>
        </span>
        </div>
      </div>
  <br>
  <div class="container">
    <div class="item" id="items">1003</div><hr class="hr0">
    <div class="item" id="quiz">문제문제</div><hr class="hr1">
    <div class="item" id="items">석기</div><hr class="hr1">
    <div class="item" id="items">0</div><hr class="hr1">
    <div class="item" id="items">100</div><hr class="hr1">
    <div class="item" id="items">0%</div>
    <div id="answers">
      <br><br>
        <span><form name="input" method="post" action="">
            <input type="text" name="answer">
            <button type="submit" id="btn-primary"><b>제출하기</b></button>
          </form>
        </span>
        </div>
      </div>
  <br>
{% endblock %}