{% extends 'user/base.html' %}
{% load static %}
{% block pro %}
<div class="container container1">
    <div class="item" id="items">1001</div><hr>
    <div class="item">한글을 만든 사람은?</div><hr class="hr1">
    <div class="item" id="items">조선</div><hr class="hr1">
    <div class="item" id="items">1</div><hr class="hr1">
    <div class="item" id="items">3</div><hr class="hr1">
    <div class="item" id="items">33%</div>
    <div id="answers">
      <br><br>
        <span><form name="input" method="post" action="">
            <input type="text" name="answer">
            <button type="submit" id="btn-primary"><b>제출하기</b></button>
          </form>
        </span>
        </div>
      </div>
  <br><br>
{% endblock %}
